{% extends 'portfolio/base.html' %}

{% block content %}
<div class="container px-4 text-center" >
    
    <h1>Личное портфолио</h1>

    <a href="{% url 'blog:all_blogs'  %}">Мой блог</a>
    {% load static%}
    <br>
    <a href="{% static 'portfolio/Resume2.pdf' %}">Резюме</a>
    <br>
    <img src="{% static 'portfolio/Rinat.png'%}" class="mx-auto" style="width: 150px;">

    
    <div class="container">
        <div class="row">
            
                {% for project in projects %}
                <div class="col">
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.description }}</p>
                    <img src="{{ project.image.url }}" class="mx-auto" style="width: 300px;" alt="">

                    {% if project.url %}
                    <br><a href="{{ project.url }}">Пройти к курсу</a>        
                    {% endif %}
                </div>
                {% endfor %}
            
        </div>
    </div>

    

</div>
{% endblock %}  

