{% extends 'portfolio/base.html' %}

{% block content %}

<div class="container">
    <div class="row">      
        {% for project1 in blogs %}
        
            <a href="{% url 'blog:detail' blog_id=project1.id %}"><h2>{{ project1.title }}</h2></a>
            <h5>{{ project1.date}}</h5>
            <p>{{ project1.description|truncatechars:100 }}</p>
                
        {% endfor %}
    </div>
</div>
{% endblock %}  